.main-content{
    background: url('../img/bg-img.png');
    background-position: left;
    background-size: cover; 
    background-repeat: no-repeat;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.main-content .main-nav{
    background-color: transparent;
    position: relative;
    display: flex;
    height: inherit;
    width: 10%;
}

.main-mid{
    display: flex;
    flex-direction: column;
    background: rgba(31, 39, 31, 0.7); 
    padding: 0;
    margin-left: auto;
    margin-right: 1%;
    border-left: 1px solid rgb(144, 142, 142);
    border-right: 1px solid rgb(144, 142, 142);  
}


aside {
    width: 11.5%;
    height: inherit;
    margin-left: auto;
    margin-right: 0;
}

#list li i{

}

aside img{   
    height: 100%;
    margin: 0;
}

#flag{
    display: flex;
    width: 50%;
}

#flag img{
    margin-left: 20px;
}